@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
  --primary-light: #295757;
  --primary: #1e3f3f;
  --primary-dark: #122525;
  --secondary-light: #f3f2dc;
  --secondary: #c8c7b3;
  --secondary-dark: #5a5a51;
  --gray: #52525b;
  --gray-light: #9ca3af;
  --gray-dark: #111827;
  --green: #22c55e;
  --red: #b91c1c;
  --blue: #2563eb;
  --yellow: #facc15;
  --black: #000;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1rem;
  overflow: hidden;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: var(--secondary);
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.counter {
  background: rgb(30, 63, 63);
  background: linear-gradient(
    35deg,
    rgba(30, 63, 63, 1) 0%,
    rgba(30, 63, 63, 1) 0%,
    rgba(45, 88, 88, 1) 24%,
    rgba(21, 45, 45, 1) 42%,
    rgba(45, 88, 88, 1) 61%,
    rgba(21, 45, 45, 1) 80%,
    rgba(64, 128, 128, 1) 100%
  );
}
